.feed {
    background-color: #83b0ca;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: auto;
    flex-wrap: wrap;

}

.feedCard{
    min-width: 800px;
}
.feedCContent{
    background-color: aquamarine;
}